.font100 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
.font300 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.font_x-large {
  font-family: "Roboto", sans-serif;
  font-size: x-large;
}

.fontBolder {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.fontBold {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}
